# Virtual Environment
.venv/
env/
venv/

# Byte-code files
*.pyc
__pycache__/

# Editor/IDE specific files
.idea/

# Environment variables

# Database files (if local)
*.sqlite3
*.db

# Log files
*.log

# Build artifacts (if any)
dist/
build/